.description {
margin-top: 15%;
border-radius: 15px;
    border: 1px solid black;
    
}
 html, body {
    height : 100%;
    width : 100;
 }

.card {
    max-height: 30%;
    max-width: 65%;
}
.rating {
    max-width: 90%;
}

 .icon {
    margin-top: 3.4%; 
 }

 .footer {
     margin-top: 23%;
     margin-left: -1%;
    margin-right: -0.5%;
 }

.profile {
    position: fixed;
    margin-left: 60%;
    margin-top: 1%;
    border-radius:4%;
    border-color: pink;
    border-width: 10px;
}

.SearchBar {
    margin-top: 20%;
    padding-right: 5%;
}
.container2{
    overflow: scroll;
}
.round {
    border-radius: 6%;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    /*padding: 5%;*/
    overflow: hidden;
    
}

.devNames {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;

}

.devNames:hover {
    color: lightcyan;
}

.loader {
    margin-left: 45%;
}

.margin {
    margin-top: 7%;
}

.pieMargin {
    margin-right: 8%;
}

.container{
    background-color: #defcfc;
}
.font-change{
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    
}
.btn-lg{
    width:120px;
    margin-left: 40%;
}
.pie {
    padding-right: 30%;
    
}
.top-down{
    margin-top: 5%;
}

.navbar-nav{
    margin-left: 43%;
}
.nav-pad{
    padding-right: 20%;
}

.navbar {
    position:fixed;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    margin-left: -1%;
    margin-right: -1%;
}